


  h1 {
    color:brown;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
  }
  button {
    border-radius: 25px;
    background-color:gray;
    border: 1px;
    color :white;
    text-align: center;
    text-decoration: black;
    font-size: 35px;
    width: 75px;
    height:50px;
  }
  
  #clr {
    color: red;
  }
  
  #beq {
    color:yellow;
  }
  #bmul,#badd,#bsub,#bdiv {
         background: black;
         
      }
     #answer {
width:260px;
height: 50px;
font-size: 210;
text-align: right;
border:none;

    }
   /* #input {
      border-radius: 5px 5px 0px 0px;
      box-shadow: 2px 2px 2px black;
      color:#1e1e1e;
    } */
   #answer{
      border-radius: 0px 0px 5px 5px;
      box-shadow: 2px 2px 2px black;
      font-size: 20px;
    }
    #input {
      height:50px;
      width:250px;
      border-radius: 10px;
     }
  


  
  table {
    
    border: 10px solid black;
    background-color: teal;
    margin-left:auto; 
    margin-right:auto;
    
  }
  